.ct {
   transition: 0.3s all ease-in-out;
}

.ct:hover {
   transform: translateY(-3px);
   box-shadow: 0px 0px 10px rgb(205, 205, 207);
}

#fotoNoticia {
   height: 260px;
   width: 100%;
   object-fit: cover;
}

#fotoAutor {
   width: 44px;
   height: 44px;
   object-fit: cover;
   border-radius: 50%;
}

#titulo {
   display: -webkit-box;
   max-width: 100%;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

#body {
   display: -webkit-box;
   max-width: 100%;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

@media screen and (max-width: 900px) {
   #fotoNoticia {
      height: 220px;
   }
}

@media screen and (max-width: 768px) {
   #fotoNoticia {
      height: 250px;
   }
}

@media screen and (max-width: 500px) {
   #fotoNoticia {
      height: 210px;
   }

   #titulo {
      font-size: 17px;
   }
}

@media screen and (max-width: 400px) {
   #fotoNoticia {
      height: 170px;
   }
}
