#foto {
   width: 40px;
   height: 40px;
}

.td {
   vertical-align: middle;
}

#plataformas img {
   width: 25px;
}
#plataformas i {
    font-size: 25px;
}

@media screen and (max-width: 500px) {
   #foto {
      width: 33px;
      height: 33px;
   }

   .td {
      font-size: 14px;
   }
}
