#foto {
   width: 40px;
   height: 40px;
}

#star {
    width: 18px;
}

.td {
   vertical-align: middle;
}

#plataformas img {
   width: 25px;
}
#plataformas i {
    font-size: 25px;
}

#media {
   font-size: 4rem;
   margin-bottom: 0 !important;
}

@media screen and (max-width: 900px) {
   #plataformas img {
      width: 20px;
   }
}

@media screen and (max-width: 500px) {
   #foto {
      width: 33px;
      height: 33px;
   }

   .td {
      font-size: 14px;
   }
}

@media screen and (max-width: 400px) {
   #plataformas img {
      width: 17px;
   }
  
}